body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

form{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MuiListItem-root{
  justify-content: center !important;
}

.todo{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer{
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2  {
  min-width: 30em;
}
